# Load the shared object
useDynLib(reglogit)

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  methods,
  mvtnorm,
  boot
)

# S3
S3method(predict, reglogit)
S3method(predict, regmlogit)
